/* FONT */
@font-face {
    font-family: "Marianne";
    src: url("/rsc/font/Marianne-Bold.woff") format("woff");
    font-family: "Spectral";
    src: url("/rsc/font/Spectral-Bold.ttf") format("woff");
  }