/* STRICT */
@use "../../main/variable/variable" as *;
@use "../../main/mixin/mixin" as *;

/* BUTTON */
button {
  @include display(flex, center, center);
  min-height: 50px;
  padding: 10px 15px 10px 15px;
  border: solid 1px rgb(221, 221, 221);
  background: rgba(221, 221, 221, 0);
  color: hsl(240, 100%, 28%);
  cursor: pointer;
}

p {
  font-family: $primary-font;
  font-size: 0.8rem;
}

img {
  margin-right: 10px;
}
